<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>📚StudyOS</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<script>

setTimeout(function(){

window.location.href="/welcome";

},2000);

</script>

</head>

<body>

<div class="splash">

<h1>StudyOS</h1>

<p>Less Stress. Better Decisions.</p>
<p>Smart Study Planner & Productivity System</p>

<div class="loader">

<span></span>

</div>

</div>

</body>

</html>